<div class="center jumbotron">
	<h1>Welcome</h1>
	<h2>Welcome to Invasion! Sign up below to play the game, or check out the links above.</h2>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
